<section class="footer">
  <div class="container footer-with-copy">

  <div class="all-footer">
      <div class="footer-first">
        <svg class="icon-logo" width="216" height="20">
            <use href="/img/sprite.svg#icon-logo">
           </use>
       </svg>
   
       <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
      </div>
       
      <div class="footer-second">
        <ul class="footer-links">
          <li class="footer-anchor">
            <a class="footer-link">how it works</a>
          </li>
          <li class="footer-anchor">
            <a class="footer-link">vegetables</a>
          </li>
          <li class="footer-anchor">
            <a class="footer-link">reviews</a>
          </li>
        </ul>
        <div class="footer-adress">
            <address>
                <ul class="list-address">
                    <li class="list-address-item"> 
                        <a class="list-address-link">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                    </li>
                    <li class="list-address-item">
                        <a href="tel:+380(68)4439426" class="list-address-link">+380 (68) 443-94-26</a>
                    </li>
                    </ul>
            </address>
        </div>
      </div>
    </div>
    
    <div class="footer-privacy">
        <ul class="privacy-links">
          <li>
            <a class="privacy-link">Privacy Policy</a> 
          </li>
          <li>
            <p class="privacy-link">/</p>
          </li>
          <li>
            <a class="privacy-link">Cookie settings</a>
          </li> 
        </ul>
          
        <div class="footer-copyright">
          <p class="copyright">©Green Harvest 2023</p>
        </div>
    </div>
    


  
  

</div>

</section>