<section class="harvest">
    <div class="container">
    <div class="harvest-section">
      <h2 class="section-title">Fresh <span class="harvest-span">Harvest</span> Box has got you covered</h2>
      <p class="harvest-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
      <div class="harvest-flex">
      <form class="harvest-form">
          <h3 class="har-form-title">Ordering <span class="harvest-second-span">from us </span>is quick and easy! Fill out <span class="harvest-third-span">the form </span>below and we will contact you !</h3>
          <label class="harvest-label" for="full-name">  
              <input class="harvest-input" type="text" name="full-name"
              id="full-name" placeholder="Full name"/>
          </label>
          <label class="harvest-label" for="full-name">  
              <input class="harvest-input" type="email" name="email"
              id="email" placeholder="E-mail"/>
          </label>
          <label class="harvest-label">
              <textarea class="harvest-text-area" name="comment" rows="3" placeholder="Comment">
              </textarea>
          </label>
  
          <button type="submit" class="harvest-send"> Send 
          </button>
  </form>
  
  <div class="harvest-pic">
      <picture class="img">
          <source
          srcset="
          ../img/harvest/woman-pouring-juice.webp 1x,
          ../img/harvest/woman-pouring-juice-2x.webp 2x
        "
        media="(min-width: 1158px)"
          />
          <source
          srcset="
          ../img/harvest/woman-pouring-juice-tab.webp 1x,
          ../img/harvest/woman-pouring-juice-tab-2x.webp 2x
        "
        media="(min-width: 768px)"
          />
          <source
          srcset="
          ../img/harvest/woman-pouring-juice-mob.webp 1x,
          ../img/harvest/woman-pouring-juice-mob-2x.webp 2x
        "
        media="(min-width: 320px)"
          />
          <img srcset="./src/img/harvest/woman-pouring-juice.webp 1x, ./src/img/harvest/woman-pouring-juice-2x.webp 2x"
        src="../img/harvest/woman-pouring-juice.webp" alt="Woman with juice" class="harvest-img" 
        width="295">
      </picture>
      
         <p class="network-p">Follow us on our social networks:</p>
           <div class="soc-items">
           <a class="soc-link">Instagram /</a>
           <!-- <p class="slash"> / </p> -->
           <a class="soc-link"> Facebook /</a>
           <!-- <p class="slash"> / </p> -->
           <a class="soc-link"> Youtube</a>
          </div>
    </div>

    </div>
    </div>
  </div>
  

</section>