<section class="header">

    <div class="header-style">
      <div class="header-logo">
        <ul class="header-logo-ul">
          <li class="header-logo-li">
            <a href="index.html">
              <!-- <img src="/img/logo-svg/logo-header.svg" alt="" /> -->
              <svg class="logo-style" width="168px" height="16px">
                <use href="/img/sprite.svg#icon-logo"></use>
              </svg>
            </a>
          </li>
          <li class="header-logo-li">
            <button type="button" class="header-btn">
              <svg class="burger-icon" width="32px" height="32px">
                <use href="/img/sprite.svg#icon-burger"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="header-menu">
        <nav class="header-nav">
          <ul class="nav-ul">
            <li class="nav-li style-li"><a href="#">How It Works</a></li>
            <li class="nav-li style-li"><a href="#">Vegetables</a></li>
            <li class="nav-li style-li"><a href="#">Reviews</a></li>
          </ul>
          <div class="nav-shop style-nav-shop"><a href="#">Shop now</a></div>
        </nav>
      </div>
    </div>
  </div>
</section>
