<section class="hero">
  <div class="container"></div>
  <div class="container">
    <div class="hero-style">
      <div class="hero-text">
        <h1 class="hero-title">organic vegetables to your diet today!</h1>
        <p class="hero-subtitle">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
      </div>
      <div class="hero-image">
        <picture>
          <source
            srcset="
              /img/hero/vegetable-basket.webp    1x,
              /img/hero/vegetable-basket-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/hero/vegetable-basket-tab.webp    1x,
              /img/hero/vegetable-basket-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hero/vegetable-basket-mob.webp    1x,
              /img/hero/vegetable-basket-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-img"
            src="/img/hero/vegetable-basket.webp"
            alt="A basket filled with fresh organic vegetables including carrots, sweet pepper, mushrooms and leafy greens."
          />
        </picture>
      </div>
    </div>
  </div>
</section>
