<section class="mob-menu">
    <div class="container menu-container">
        <button class="btn-close">
            <svg class="icon-close" width="16" height="16">
                 <use href="/img/sprite.svg#icon-close">
                </use>
            </svg>
         </button>

    
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link">How It Works</a>
          </li>
          <li class="menu-item">
            <a class="menu-link">Vegetables</a>
          </li>
          <li class="menu-item">
            <a class="menu-link">Reviews</a>
          </li>
         </ul>

        <button class="mob-shop" type="submit"> shop now
        </button>
        

    </div>

</section>