<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/order.css">

    <link rel="stylesheet" href="../css/reset.css">

    <link rel="stylesheet" href="../css/container.css">

    <link rel="stylesheet" href="../fonts/fonts.css">

</head>
<body>
    <section class="vegetable">
    <div class="container-veg">
        <div class="vegetable-img">
            <picture>
                
                <source srcset="../img/order/woman-cooking.webp 1x, 
                ../img/order/woman-cooking-2x.webp 2x"
                media="(min-width: 1280px)">
                <source srcset="../img/order/woman-cooking-tab.webp 1x, 
                ../img/order/woman-cooking-tab-2x.webp 2x" 
                media="(min-width: 768px)">
                <source srcset="../img/order/woman-cooking-mob.webp 1x, 
                ../img/order/woman-cooking-mob-2x.webp 2x" 
                media="(max-width: 767px)">
                <img src=" ../img/order/woman-cooking.webp" 
                alt="woman is works" 
                width="1280">
            </picture>
        </div>
        <div class="vegetable-text">
           <div class="vegetable-texts">
                <h2 class="vegetable-text-h">
                    To order your
                    <span class="veg-text-h">vegetable</span>
                    basket, simply follow these 
                    <span class="veg-text-h">easy steps</span>
                </h2>
                <p class="vegetable-text-p">
                    Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
                    without ever leaving your home.
                </p>
           </div>
            <ul class="vegetable-text-list">
                <li class="vegetable-text-l">
                   <div class="veget-text">
                        <div class="vegetable-text-num">
                            <p class="vegetable-text-numbers">1</p>
                        </div>
                        <div class="veg-text-ver">
                            <p class="vegetable-text-ver">
                                Just choose 
                                <span class="veg-t-v">the vegetable</span>
                                you want to order by clicking on the checkboxes
                                <span class="veg-t-v">next to it.</span>
                            </p>
                        </div>
                   </div>
                </li>
                <li class="vegetable-text-l">
                    <div class="veget-text">
                        <div class="vegetable-text-num">
                            <p class="vegetable-text-numbers">2</p>
                        </div>
                        <div class="veg-text-ver">
                            <p class="vegetable-text-ver">                        
                                Click on 
                                <span class="veg-t-v">the basket</span>
                                and fill out the form.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="vegetable-text-l">
                    <div class="veget-text">
                        <div class="vegetable-text-num">
                            <p class="vegetable-text-numbers">3</p> 
                        </div>
                        <div class="veg-text-ver">
                            <p class="vegetable-text-ver">                        
                                Sit back and relax! Your 
                                <span class="veg-t-v">fresh vegetables</span>
                                basket will be delivered.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>
</body>
</html>

