<section class="ov-section">
  <h2 class="ovs-title">organic<br /><span>vegetables</span></h2>
  <p class="ovs-desc">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="ovs-list">
    <li class="ovs-item">
      <h3 class="ov-title">eggplant</h3>
      <p class="ov-price">60 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="
            /img/vegetables/eggplant-2x.webp,
            /img/vegetables/eggplant-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/eggplant-tab-2x.webp,
            /img/vegetables/eggplant-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/eggplant-mob-2x.webp,
            /img/vegetables/eggplant-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="ov-image"
          src="/img/vegetables/eggplant.webp"
          alt="Eggplant"
        />
      </picture>
    </li>

    <li class="ovs-item">
      <h3 class="ov-title">leek</h3>
      <p class="ov-price">50 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="/img/vegetables/leek-2x.webp, /img/vegetables/leek-2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/leek-tab-2x.webp,
            /img/vegetables/leek-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/leek-mob-2x.webp,
            /img/vegetables/leek-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img class="ov-image" src="/img/vegetables/leek.webp" alt="Leek" />
      </picture>
    </li>

    <li class="ovs-item">
      <h3 class="ov-title">mushrooms</h3>
      <p class="ov-price">40 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="
            /img/vegetables/mushrooms-2x.webp,
            /img/vegetables/mushrooms-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/mushrooms-tab-2x.webp,
            /img/vegetables/mushrooms-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/mushrooms-mob-2x.webp,
            /img/vegetables/mushrooms-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img class="ov-image" src="/img/vegetables/mushrooms.webp" alt="Mushrooms" />
      </picture>
    </li>

    <li class="ovs-item">
      <h3 class="ov-title">corn</h3>
      <p class="ov-price">60 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="/img/vegetables/corn-2x.webp, /img/vegetables/corn-2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/corn-tab-2x.webp,
            /img/vegetables/corn-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/corn-mob-2x.webp,
            /img/vegetables/corn-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img class="ov-image" src="/img/vegetables/corn.webp" alt="Corn" />
      </picture>
    </li>

    <li class="ovs-item">
      <h3 class="ov-title">sweet potatoes</h3>
      <p class="ov-price">50 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="
            /img/vegetables/sweet-potatoes-2x.webp,
            /img/vegetables/sweet-potatoes-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/sweet-potatoes-tab-2x.webp,
            /img/vegetables/sweet-potatoes-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/sweet-potatoes-mob-2x.webp,
            /img/vegetables/sweet-potatoes-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img class="ov-image" src="/img/vegetables/sweet-potatoes.webp" alt="Sweet potatoes" />
      </picture>
    </li>

    <li class="ovs-item">
      <h3 class="ov-title">carrot</h3>
      <p class="ov-price">40 USD / kg</p>
      <picture class="ov-image-container">
        <source
          srcset="
            /img/vegetables/carrot-2x.webp,
            /img/vegetables/carrot-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/vegetables/carrot-tab-2x.webp,
            /img/vegetables/carrot-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/vegetables/carrot-mob-2x.webp,
            /img/vegetables/carrot-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img class="ov-image" src="/img/vegetables/carrot.webp" alt="Carrot" />
      </picture>
    </li>
  </ul>
</section>
