:root {
  font-family: "Inter Tight", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  padding: 80px 20px;
  margin: 0 auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3{
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.015em;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: 768px) {
    h2 {
      font-size: 64px;
    }

    p {
      line-height: 125%;
      font-size: 16px;
    }

    section {
      padding: 80px 20px;
    }
}

@media only screen and (min-width: 1280px) {
    section {
      padding: 100px;
    }
}