.container {
    min-width: 320px;
}

.harvest-section {
    background-color: #576F35;
    padding: 80px 20px;
}


.section-title {
font-weight: 600;
font-size: 48px;
line-height: 108%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white;
padding-bottom: 20px;
}

.harvest-span {
    color: #de5d83;
}

.harvest-text {
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: white;
padding-bottom: 40px;
}

.harvest-flex {
    display: flex;
    gap: 20px;
flex-wrap: wrap;
}

.harvest-form {
background-color: white;
border-radius: 30px;
padding: 40px 20px;
width: 100%;
}

.har-form-title {
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
padding-bottom: 40px;
}

.harvest-second-span {
    color: #7A3145;
}

.harvest-third-span {
    color: #576F35;
}


.harvest-input {
    border: 1px solid #858585;
    border-radius: 30px;
    padding: 14px 220px 14px 16px;
    width: 295px;
    height: 48px;
    font-weight: 500;
font-size: 14px;
line-height: 143%;
text-align: left;
color: black;
margin-bottom: 16px;
}


.harvest-text-area {
border: 1px solid  #858585;
border-radius: 15px;
padding: 14px 219px 59px 16px;
width: 295px;
height: 92px;  
font-weight: 500;
font-size: 14px;
line-height: 143%;
text-align: left;
color: black;
margin-bottom: 20px;
}


.harvest-send {
    border-radius: 30px;
    padding: 16px 129px;
    width: 295px;
    height: 52px;
    font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white;
background-color: #7A3145;
}

.harvest-img {
    background-color: #7A3145;
    border-radius: 30px;
padding: 40px 20px;
width: 335px;
padding: 40px 20px;
}


.img {
border-radius: 15px;
width: 295px;
height: auto;
}

.network-p {
font-weight: 700;
font-size: 14px;
line-height: 143%;
color: #D4BFC4;
margin-bottom: 16px;
}

.soc-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.soc-link {
 font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white;   
}

.slash {
    font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white; 
}

