.mob-menu{
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(87, 111, 53);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
}


.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 0;
}

.menu-container {
  position: relative;
  padding-top: 196px;
  padding-bottom: -48px;
  display: flex;
  flex-direction: column;
  padding-top: 296px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100%;
  align-items: center;
}

.btn-close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 20px;
  top: -80px;
  top: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: 999;
  }

.icon-close {
  fill: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
}

.list {
display: flex;
flex-direction: column;

align-items: center;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.menu-item {
  border: 1px solid #FBFBFB;
  border-radius: 12px;
  width: 116px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-item:hover,
.menu-item:focus {
  background-color: white;
}

.menu-item:hover .menu-link {
color: #7A3145;
}

.menu-item:focus .menu-link {
  color: #7A3145;
}

.mob-shop {
  margin-top: auto; 
  border: none;
  border-radius: 30px;
  width: 175px;
  background-color: #7A3145;
  padding: 16px 0;
  color: #FBFBFB;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-shop:hover,
.mob-shop:focus {
  background-color: white;
  color: #7A3145;
}

@media only screen and (min-width: 768px) {
    
  .mob-menu {

    background-color: rgba(20, 20, 20, 40%); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-container {
  background-color: rgb(87, 111, 53);
  width: 351px;
  position: fixed;
  right: 0;
  top: 0;
  margin-bottom: 52px;
}

.mob-menu-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 32px;
  top: 32px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    }
  

    .mob-shop {
    border-radius: 30px;
    padding-top: 16px 32px;
    width: 157px;
    height: 52px;
    font-family: "Inter Tight", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    white-space: nowrap;
    }
  }
  
@media screen and (min-width: 1280px) {
  .mob-menu {
  display: none;
  }
}
