.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.order {
  padding: 0;
  display: flex;
  flex-direction: column;
  --color-black: #141414;
  --color-chianty: #7a3145;
  --color-green: #576f35;
  --color-grey: #858585;
  --color-blush: #d4bfc4;
  --color-white: #fbfbfb;
}

.order-image-box {
  padding: 40px 20px;
  background-color: var(--color-chianty);
}

.order-image-container {
  border-radius: 30px;
  overflow: hidden;
}

.order-image {
  width: 335px;
  height: 452px;
  object-fit: cover;
  object-position: center;
}

.order-desc-box {
  padding: 80px 20px;
  background-color: var(--color-green);
}

.order-title {
  line-height: 1;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: var(--color-white);
}

.order-title-colored {
  color: var(--color-blush);
}

.order-desc {
  margin-top: 20px;
  color: var(--color-white);
}

.order-list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.order-item {
  margin-top: 20px;
  border-radius: 15px;
  padding: 12px 24px;
  background-color: var(--color-white);
}

.order-item:first-child {
  margin-top: 0;
}

.order-item-desc {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color-grey);
}

.order-number-span {
  flex-shrink: 0;
  display: block;
  margin: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-chianty);
  box-shadow: 0 0 0 5px var(--color-blush);
}

.order-item-desc-colored {
  font-weight: 700;
  color: var(--color-black);
}

.order-item-desk-width {
  display: inline-block;
  max-width: 176px;
}

@media (min-width: 768px) {
  .order-image-box {
    padding: 100px 64px;
  }

  .order-image {
    width: 640px;
    height: 640px;
  }

  .order-desc-box {
    padding: 100px 164px;
  }

  .order-title {
    font-size: 32px;
    color: var(--color-white);
  }

  .order-desc {
    margin-top: 24px;
  }

  .order-list {
    margin-top: 52px;
  }

  .order-item {
    margin-top: 24px;
    padding-right: 15px;
  }

  .order-item-desk-width {
    max-width: unset;
  }
}

@media (min-width: 1280px) {
  .order {
    flex-direction: row;
  }

  .order-image-box {
    flex: 0 0 50%;
    padding: 100px 100px;
  }

  .order-image {
    width: 440px;
    height: 560px;
  }

  .order-desc-box {
    flex: 0 0 50%;
    padding: 100px;
  }

  .order-list {
    margin-top: 104px;
  }
}
