.reviews {
  --color-black: #141414;
  --color-blush: #d4bfc4;
  --color-chianty: #7a3145;
  --color-green: #576f35;
  --color-grey: #858585;
  --color-white: #fbfbfb;
  background-color: var(--color-white);
}

.reviews-title {
  color: var(--color-black);
}

.reviews-title span {
  color: var(--color-green);
}

.reviews-desc {
  margin-top: 20px;
  color: var(--color-black);
}

.reviews-wrapper {
  overflow-x: hidden;
  margin-top: 40px;
  height: 228px;
}

.reviews-list {
  display: flex;
  gap: 38px;
  width: calc(3 * 335px + 3 * 38px);
  /* width: calc(100% * 3 + 38 * 2); */
  animation: slide 18s linear infinite;
}

.reviews-list:hover {
  animation-play-state: paused;
}

@media (hover: none) and (pointer: coarse) {
  .reviews-list:active {
    animation-play-state: paused;
  }
}

.reviews-item {
  flex: 0 0 335px;
  border-radius: 24px;
  border: 1px solid var(--color-blush);
  /* width: 335px; */
  padding: 19px 22.5px;
  text-align: center;
}

.review-image {
  margin-inline: auto;
  border-radius: 50%;
}

.review-title {
  margin-top: 24px;
  line-height: 1.11;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: var(--color-black);
}

.review-desc {
  margin-top: 8px;
  color: var(--color-grey);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  28% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-33.33%);
  }
  61% {
    transform: translateX(-33.33%);
  }
  66% {
    transform: translateX(-66.67%);
  }
  94% {
    transform: translateX(-66.67%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 768px) {
  .reviews-title {
    width: 553px;
  }

  .reviews-desc {
    margin-top: 24px;
    width: 553px;
  }

  .reviews-wrapper {
    margin-top: 52px;
    height: 248px;
  }

  .reviews-list {
    gap: 24px;
    width: unset;
  }

  .reviews-item {
    flex-basis: 340px;
    padding: 19px 25px;
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    58% {
      transform: translateX(0%);
    }
    64% {
      transform: translateX(-51.7%);
    }
    95% {
      transform: translateX(-51.7%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@media (min-width: 1280px) {
  .reviews-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  .reviews-item {
    padding-inline: 27px;
  }
}
